# apispec >= 6 requires marshmallow >= 3.18.0
apispec~=6.0
# provides support for Signals
blinker~=1.5
Flask~=2.2
Flask-ApiSpec~=0.11
Flask-Babel~=2.0
Flask-CORS~=3.0
Flask-JWT-Extended~=4.4
Flask-Mail~=0.9
Flask-Marshmallow~=0.14
Flask-Restful~=0.3
Flask-SQLAlchemy~=3.0
Marshmallow-SQLAlchemy~=0.28
marshmallow~=3.18
passlib[argon2]~=1.7
password-strength==0.0.3.post2
SQLAlchemy~=1.4
SQLAlchemy-Utils~=0.38
webargs~=8.2
