<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leihschein</title>
    <style>{{ bootstrap }}</style>
    <style>
        {#@media print {
            @page {
                size: A4 portrait;
            }
        }#}
        * {
            line-height: 1.5;
        }

        h3 {
            margin-bottom: 1.25rem;
        }

        #head-logo {
            justify-self: end;
        }

        section {
            margin-top: 36px;
            margin-bottom: 24px;
        }
        .square {
            border: 1px solid gray;
            height: 18px;
            width: 18px;
        }
        .square.inline {
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
        .end {
            display: flex;
        }
        .cl2{
            margin-right: 100px;
        }

    </style>
</head>
<body>
<div class="container">
    <section id="customer">
        <div class="row flex mb-3">
            <div class="col">
                <h2>Leihschein für JDAV Sektion Berlin</h2>
            </div>
            <img id="head-logo" src="{{ logo_url }}" alt="" srcset="">
        </div>
        <address>
            <div class="row mb-5">

                <div class="col-12">{{ rental.customer.first_name }} {{ rental.customer.last_name }}</div>
                <div class="col-12">{{ rental.customer.street }} {{ rental.customer.house_number }}</div>
                <div class="col-12 mb-2">{{ rental.customer.zip_code }} {{ rental.customer.city }}</div>
                <div class="col-12">Mitgliedsnummer: {{ rental.customer.membership_number }}</div>
                <div class="col-12">
                    E-Mail: <a href="mailto:{{ rental.customer.email }}">
                    {{ rental.customer.email }}
                </a>
                </div>
                {% if rental.customer.phone %}
                    <div class="col-12">
                        Tel.: <a href="tel:{{ rental.customer.phone }}">
                        {{ rental.customer.phone }}
                    </a>
                    </div>
                {% endif %}
            </div>
        </address>
    </section>

    <section id="rental">
        <div class="float-right">{{ rental.created_at.strftime('%d.%m.%Y') }}</div>
        <h4 class="mb-4">Rechungsnummer: 1234567890</h4>

        <div class="row">
            <div class="col-3">Reserviert von:</div>
            <div class="col">
                {{ rental.start_date.strftime('%d.%m.%Y') }}
                bis
                {{ rental.end_date.strftime('%d.%m.%Y') }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">Geplante Rückgabe:</div>
            <div class="col-9">{{ rental.end_date.strftime('%d.%m.%Y') }}</div>
        </div>
    </section>

    <section id="material" class="pb-4">
        <h3>Ausgeliehenes Material</h3>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Beschreibung</th>
                <th>Preis</th>
                <th>Zustand bei Rückgabe</th>
                <th>Rückgabe erfolgt</th>
                <th>Anleitung</th>
            </tr>
            </thead>
            <tbody>
                {% for material in rental.materials %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ material.description }}</td>
                        <td>{{ "{:,.2f}".format(material.rental_fee|round(2, 'ceil')) }}&nbsp;&euro;</td>
                        <td></td>
                        <td><div class="ml-2 square"></div></td>
                        <td>
                            <img id="picture" src="data:image/jpeg;base64,{{ material.generate_qrcode()}}">
                            <a href="{{ material.instructions }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                </svg>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                {% if rental.deposit %}
                    <tr>
                        <td></td>
                        <td>Kaution</td>
                        <td>
                            {{ "{:,.2f}".format(rental.deposit|round(2, 'ceil')) }}&nbsp;&euro;
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if rental.discount %}
                    <tr>
                        <td></td>
                        <td>Rabatt</td>
                        <td>
                            {{ "{:,.2f}".format(rental.discount|round(2, 'ceil')) }}&nbsp;&euro;
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>
                            {{ "{:,.2f}".format(total_price|round(2, 'ceil')) }}&nbsp;&euro;
                        </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="signature">
        <p>
            Empfangen am __________________ .
        </p>
        <p>
            Ich habe die
            {% if rental_regulations_url is defined %}
                <a href="{{ rental_regulations_url }}">
                    Ausleihordnung
                </a>
            {% else %}
                Ausleihordnung
            {% endif %}
            zur Kenntnis genommen.
        </p>
        <br><br>
        <div class="row">
            <div class="col-2">
                __________________<br>
                Datum
            </div>
            <div class="col-1"></div>
            <div class="col">
                ____________________ <br>
                Unterschrift
            </div>
        </div>
    </section>

<div class="end">
    <section  class="cl2">
        <h4 class="border">Bei Rückgabe auszufüllen:</h4>
        <p>
            <div class="square inline"></div>
            Ich habe eine Sichtkontrolle durchgeführt, Mängel oben notiert und gemeldet.
        </p>
        <br> <br>
        <div class="row">
            <div class="col-2">
                __________________<br>
                Datum
            </div>
            <div class="col-1"></div>
            <div class="col">
                ____________________ <br>
                Unterschrift
            </div>
        </div>
    </section>

    <section>
        <h4 class="border">Vom Verleih auszufüllen:</h4>
        <div class="row">
            <div class="col mt-3">
                <div class="square inline"></div>
                Material vollständig zurück
                <br> <br><br>
                Rückgabe erfolgte am __________________ .
            </div>
        </div>
    </section>
</div>
</div>
</body>
</html>
