<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _("Rental Confirmation") }}</title>
    <style>{{ bootstrap }}</style>
    <style>
        * {
            line-height: 1.5;
        }

        h3 {
            margin-bottom: 1.25rem;
        }

        #head-logo {
            justify-self: end;
        }

        section {
            margin-top: 36px;
            margin-bottom: 24px;
        }
        .square {
            display: inline-block;
            border: 1px solid gray;
            height: 18px;
            width: 18px;
        }
        .square.inline {
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    </style>
</head>
<body>
<div class="container">
    <section id="customer">
        <div class="row flex mb-3">
            <div class="col">
                <h2>{{ _("Rental confirmation for") }} {{ issuer }}</h2>
            </div>
            <img id="head-logo" src="{{ logo_url }}" alt="Logo">
        </div>
        <address>
            <div class="row mb-5">

                <div class="col-12">{{ rental.customer.first_name }} {{ rental.customer.last_name }}</div>
                <div class="col-12">{{ rental.customer.street }} {{ rental.customer.house_number }}</div>
                <div class="col-12 mb-2">{{ rental.customer.zip_code }} {{ rental.customer.city }}</div>
                <div class="col-12">{{ _("Membership number") }}: {{ rental.customer.membership_number }}</div>
                <div class="col-12">
                    {{ _("E-mail") }}: <a href="mailto:{{ rental.customer.email }}">
                        {{ rental.customer.email }}
                    </a>
                </div>
                {% if rental.customer.phone %}
                    <div class="col-12">
                        {{ _("Phone") }}: <a href="tel:{{ rental.customer.phone }}">
                        {{ rental.customer.phone }}
                    </a>
                    </div>
                {% endif %}
            </div>
        </address>
    </section>

    <section id="rental">
        <div class="float-right">{{ rental.created_at.strftime('%d.%m.%Y') }}</div>
        <h4 class="mb-4">{{ _("Invoice number") }}: {{ rental.created_at.strftime('%Y') }}-{{ rental.id }}</h4>

        <div class="row">
            <div class="col-3">{{ _("Rental period") }}:</div>
            <div class="col">
                {{ rental.start_date.strftime('%d.%m.%Y') }}
                &ndash;
                {{ rental.end_date.strftime('%d.%m.%Y') }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">{{ _("Planned return") }}:</div>
            <div class="col-9">{{ rental.end_date.strftime('%d.%m.%Y') }}</div>
        </div>
    </section>

    <section id="material" class="pb-4">
        <h3>{{ _("Rented equipment") }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{{ _("Description") }}</th>
                <th>{{ _("Price") }}</th>
                <th>{{ _("Condition on return") }}</th>
                <th>{{ _("Returned") }}</th>
                <th>{{ _("Instructions") }}</th>
            </tr>
            </thead>
            <tbody>
                {% for material in rental.materials %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ material.description }}</td>
                        <td>{{ "{:,.2f}".format(material.rental_fee|round(2, 'ceil')) }}&nbsp;&euro;</td>
                        <td></td>
                        <td class="text-center">
                            <div class="square"></div>
                        </td>
                        <td>
                            {% if material.instructions %}
                                <img
                                    alt="{{ material.instructions }}"
                                    src="data:image/jpeg;base64,{{ material.instructions_qr_code }}"
                                >
                                <a href="{{ material.instructions }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"></path>
                                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"></path>
                                    </svg>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if rental.deposit %}
                    <tr>
                        <td></td>
                        <td>{{ _("Deposit") }}</td>
                        <td>
                            {{ "{:,.2f}".format(rental.deposit|round(2, 'ceil')) }}&nbsp;&euro;
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if rental.discount %}
                    <tr>
                        <td></td>
                        <td>{{ _("Discount") }}</td>
                        <td>
                            {{ "{:,.2f}".format(rental.discount|round(2, 'ceil')) }}&nbsp;&euro;
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>
                            {{ "{:,.2f}".format(total_price|round(2, 'ceil')) }}&nbsp;&euro;
                        </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="signature">
        <p>
            {{ _("Received on")}} __________________ .
        </p>
        <p>
            {{ _("I accept the") }}
            {% if rental_regulations_url is defined %}
                <a href="{{ rental_regulations_url }}">
                    {{ _("terms and conditions") }}
                </a>.
            {% else %}
                {{ _("terms and conditions") }}.
            {% endif %}
        </p>
        <br><br>
        <div class="row">
            <div class="col-2">
                __________________<br>
                {{ _("Date") }}
            </div>
            <div class="col-1"></div>
            <div class="col">
                ____________________ <br>
                {{ _("Signature") }}
            </div>
        </div>
    </section>

    <section class="pt-3">
        <div class="row">
            <div class="col-auto">
                <h4 class="border">{{ _("Fill in on return") }}:</h4>
                <div>
                    <div class="square inline"></div>
                    {{ _("I controlled the equipment and made notice of any damages") }}.
                </div>
                <br>
                <div class="row">
                    <div class="col-auto">
                        __________________ <br>
                        {{ _("Date") }}
                    </div>
                    <div class="col-1"></div>
                    <div class="col">
                        ____________________ <br>
                        {{ _("Signature") }}
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col">
                <h4 class="border">{{ _("To be filled by the issuer") }}:</h4>
                <div>
                    <div class="square inline"></div>
                    {{ _("Equipment returned completely") }}
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        {{ _("Returned on") }} __________________
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>
