<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./../static/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            line-height: 1.5;
        }
        h3 {
            margin-bottom: 1.25rem;
        }
        #head-logo {
            justify-self: end;
        }
        section {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <section id="title" class="col">
            <div class="row flex">
                <div class="col">
                    <h2>Leihschein für JDAV Sektion Berlin Material</h1>
                </div>
                <img id="head-logo" src="https://live-cdn.alpenverein.de/chameleon/mediapool/0/47/jdav-logo-160px_id81421.jpg" alt="" srcset="">
            </div>
            Rechungsnummer: 1234567890 <br>
            Reserviert von <span class="underline">01.01.1970</span> bis <span class="underline">01.01.2020</span>
            <br>
            <!-- Könnte man auch als Tabelle oder Ähnliches darstellen -->
            Mitgliedsnummer: 1234567 <br>
            Telefonnummer: +49 123459876<br>
            usw. <br>
            Geplante Rückgabe am <span class="underline">01.01.2020</span>
        </section>
        <section id="material" class="col">
            <h3>Ausgeliehenes Material</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Details</th>
                        <!-- <th>Preis</th> -->
                        <th>Zustand bei Rückgabe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Dies ist ein Beispiel</td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </section>
        <section id="unterschrift" class="col">
            Empfangen am __________________ <br> <br>
            Ich habe die Ausleihordnung zur Kenntnis genommen.
            <div class="row ml-4 mt-4">
                <div class="col-2">
                    __________ <br>
                    Datum
                </div>
                <div class="col">
                    ___________________ <br>
                    Unterschrift
                </div>
            </div>
        </section>
        <section id="ruckgabe" class="col">
            <h3>Bei Rückgabe auszufüllen:</h3>
            <!-- Hier sind zwei verschiedene Möglichkeiten, die Unterschriftslinie darzustellen -->

            <!-- <div class="row ml-2">
                <div class="col"> -->
                    Ich habe eine Sichtkontrolle durchgeführt, Mängel oben notiert und gemeldet.
            <!-- </div></div> -->
            <div class="row ml-4 mt-4">
                <div class="col-2">
                    __________ <br>
                    Datum
                </div>
                <div class="col">
                    ___________________ <br>
                    Unterschrift
                </div>
            </div>
        </section>
        <section id="verleih-ruckgabe" class="col">
            <h3>Vom Verleih auszufüllen</h3>
            <div class="row">
                <div class="col mt-3">
                    Rückgabe erfolgte am <span>_______________</span>
                    <br> <br>
                    <input type="checkbox" name="" id="">
                    Material vollständig zurück
                </div>
            </div>
        </section>
    </div>
</body>
</html>
