<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Confirmation</title>
    <style>{{ bootstrap }}</style>
    <style>
        {#@media print {
            @page {
                size: A4 portrait;
            }
        }#}
        * {
            line-height: 1.5;
        }

        h3 {
            margin-bottom: 1.25rem;
        }

        #head-logo {
            justify-self: end;
        }

        section {
            margin-top: 36px;
            margin-bottom: 24px;
        }
        .square {
            border: 1px solid gray;
            height: 18px;
            width: 18px;
        }
        .square.inline {
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    </style>
</head>
<body>
<div class="container">
    <section id="customer">
        <div class="row flex mb-3">
            <div class="col">
                <h2>Rental Confirmation for "JDAV Sektion Berlin"</h2>
            </div>
            <img id="head-logo" src="{{ logo_url }}" alt="" srcset="">
        </div>
        <address>
            <div class="row mb-5">

                <div class="col-12">{{ rental.customer.first_name }} {{ rental.customer.last_name }}</div>
                <div class="col-12">{{ rental.customer.street }} {{ rental.customer.house_number }}</div>
                <div class="col-12 mb-2">{{ rental.customer.zip_code }} {{ rental.customer.city }}</div>
                <div class="col-12">Membership No.: {{ rental.customer.membership_number }}</div>
                <div class="col-12">
                    E-Mail: <a href="mailto:{{ rental.customer.email }}">
                    {{ rental.customer.email }}
                </a>
                </div>
                {% if rental.customer.phone %}
                    <div class="col-12">
                        Tel.: <a href="tel:{{ rental.customer.phone }}">
                        {{ rental.customer.phone }}
                    </a>
                    </div>
                {% endif %}
            </div>
        </address>
    </section>

    <section id="rental">
        <div class="float-right">{{ rental.created_at.strftime('%d.%m.%Y') }}</div>
        <h4 class="mb-4">Rental No.: 1234567890</h4>

        <div class="row">
            <div class="col-3">Reserved from:</div>
            <div class="col">
                {{ rental.start_date.strftime('%d.%m.%Y') }}
                to
                {{ rental.end_date.strftime('%d.%m.%Y') }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">Planned return:</div>
            <div class="col-9">{{ rental.end_date.strftime('%d.%m.%Y') }}</div>
        </div>
    </section>

    <section id="material" class="pb-4">
        <h3>Rented equipment</h3>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>Price</th>
                <th>Condition on Return</th>
                <th>Returned</th>
                <th>Instruction</th>
            </tr>
            </thead>
            <tbody>
                {% for material in rental.materials %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ material.description }}</td>
                        <td>{{ "{:,.2f}".format(material.rental_fee|round(2, 'ceil')) }}&nbsp;&euro;</td>
                        <td></td>
                        <td><div class="ml-2 square"></div></td>
                        <td><img id="picture" src="data:image/jpeg;base64,{{ material.generate_qrcode() }}"></td>
                    </tr>
                {% endfor %}
                {% if rental.deposit %}
                    <tr>
                        <td></td>
                        <td>Bail</td>
                        <td>
                            {{ "{:,.2f}".format(rental.deposit|round(2, 'ceil')) }}&nbsp;&euro;
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if rental.discount %}
                    <tr>
                        <td></td>
                        <td>Sale</td>
                        <td>
                            {{ "{:,.2f}".format(rental.discount|round(2, 'ceil')) }}&nbsp;&euro;
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>
                            {{ "{:,.2f}".format(total_price|round(2, 'ceil')) }}&nbsp;&euro;
                        </strong>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="signature">
        <p>
            Received on __________________ .
        </p>
        <p>
            I accept the
            {% if rental_regulations_url is defined %}
                <a href="{{ rental_regulations_url }}">
                    terms and conditions
                </a>
            {% else %}
                terms and conditions
            {% endif %}
        </p>
        <br><br>
        <div class="row">
            <div class="col-2">
                __________________<br>
                Date
            </div>
            <div class="col-1"></div>
            <div class="col">
                ____________________ <br>
                Signature
            </div>
        </div>
    </section>

<div style="display: flex">
        <section style= "margin-right: 100px">
        <h4 class="border">To be filled on return:</h4>
        <p>
            <div class="square inline"></div>
            I controlled the equipment, and made notice of any damages.
        </p>
        <br> <br>
        <div class="row">
            <div class="col-2">
                __________________<br>
                Date
            </div>
            <div class="col-1"></div>
            <div class="col">
                ____________________ <br>
                Signature
            </div>
        </div>
    </section>

    <section>
        <h4 class="border">To be filled by the rental</h4>
        <div class="row">
            <div class="col mt-3">
                <div class="square inline"></div>
                equipment returned completely
                <br> <br><br>
                Return on the __________________ .  
            </div>
        </div>
    </section>
</div>
</div>
</body>
</html>
